<header>
    <div class="logo" style="display: none;">
        dsnjadaks
    </div>
    <nav>
        <ul class="menu">
            <li><a href="#">
                    <img src="../../../../assets/icons/chimenea-de-la-casa-b.svg" alt="menu" width="24" height="24">
                    <span>Menu</span>
                </a></li>
            <li><a href="#">
                    <img src="../../../../assets/icons/hombre-empleado-alt-b.svg" alt="sobre mi" width="24" height="24">
                    <span>Sobre mi</span>
                </a></li>
            <li><a href="#">
                    <img src="../../../../assets/icons/verificacion-resumida-b.svg" width="24" height="24"
                        alt="resumen">
                    <span>Resume</span>
                </a></li>
            <li><a href="#">
                    <img src="../../../../assets/icons/maletin-en-blanco-b.svg" width="24" height="24" alt="contacto">
                    <span>Portfolio</span>
                </a></li>
            <li><a href="#">
                    <img src="../../../../assets/icons/megafono-b.svg" width="24" height="24" alt="contacto">
                    <span>Testimonio</span>
                </a></li>
            <li><a href="#">
                    <img src="../../../../assets/icons/puntos-de-comentario-b.svg" width="24" height="24"
                        alt="contacto">
                    <span>Contacto</span>
                </a></li>
        </ul>
    </nav>
</header>